@import "../../app.scss";

.services {
  background: linear-gradient(180deg, #2e3192, #111132);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  @include mobile {
    height: auto;
  }

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      margin-left: 0px;
      padding: 20px;
      top: 0px;
    }

    p {
      font-weight: 200;
      font-size: 16px;
      color: white;
      text-align: right;

      @include mobile {
        text-align: justify;
        margin-left: 60px;
        margin-top: -20px;
      }
    }

    hr {
      width: 450px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 80%;
        margin-left: 60px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    @include mobile {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 0 20px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 30px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 250px;
        height: 70px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
          display: none;
        }
      }

      h1 {
        font-size: 50px;
        font-weight: 100;

        @include mobile {
          font-size: 36px;
        }
      }

      button {
        width: 250px;
        height: 70px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        font-size: 24px;
        margin-top: 5px;
        cursor: pointer;

        @include mobile {
          display: block;
        }
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 95%;
    max-height: 250px;
    padding-bottom: 30px;
    margin-left: 7%;

    @include mobile {
      flex-direction: column;
      width: 100%;
      margin-top: 0;
      padding: 0 10px;
    }

    img {
      display: none;
      @include mobile{
        display: block;
        height: 500px;
        width: 350px;
      }
    }

    .box {
      padding: 30px;
      max-width: 30%;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include mobile {
        border: none;
        align-items: center;
        padding: 20px 10px;
        display: none;
      }

      h3 {
        font-size: 40px;

        @include mobile {
          font-size: 24px;
          color: #6366ca;
          text-align: center;
          padding: 10px;
          margin-bottom: -5px;
        }
      }

      p {
        font-size: 14px;
        color: rgb(85, 86, 168);

        @include mobile {
          font-size: 14px;
          text-align: center;
          color: white;
          padding: 15px;
          background-color: rgba(99, 102, 202, 0.8);
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          display: none;
          width: 50%;
          padding: 5px;
          border-radius: 5px;
          background-color: orange;
        }
      }

      
    }
  }

  @include mobile {
    margin-top: 0;
    height: auto;
  }
}
